@use '../abstracts/variables';

button {
  font-size: 1.1rem;
  background-color: variables.$secondary-color;
  padding: 0.5rem;
  border-radius: 25px;
  border-style: none;
  justify-self: flex-end;
  float: right;
  margin-top: 1rem;
}
