@use '../abstracts/variables';

.lid {
  width: 100%;
  background-color: variables.$secondary-color;
  margin-bottom: 1.5rem;
  border-radius: 25px;
  color: darken(variables.$secondary-color, 70);
  padding: 1.5rem;
}
