@use '../abstracts/variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.5rem auto;
  width: 90vw;
  img {
    height: 4rem;
    width: auto;
    fill: lighten(variables.$secondary-color, 50);
  }
}
