extends layouts/head.pug

block title 
    title Commissie toevoegen
block profile
    a(href="/lid/"+user.lastname.toLowerCase()+'&'+user.firstname.toLowerCase()) Mijn Profiel
    
block main 
    main 
        h1 Nieuwe commissie toevoegen
        form#board(method="POST" action="/bestuur/add&change_committee")
            label Naam commissie 
            input(type="text" name="name")
            label Praeses
            input(type="text", name="praeses", placeholder="Zoeken.." list="leden")
            datalist#leden 
                each member, i in members 
                    option(value= member.firstname+' '+member.particle+' '+member.lastname)
            label Vice-Praeses
            input(type="text", name="vp", placeholder="Zoeken.." list="leden")
            label Ab Actis
            input(type="text", name="abactis", placeholder="Zoeken.." list="leden")
            label Fiscus
            input(type="text", name="fiscus", placeholder="Zoeken.." list="leden")
            label Nestor
            input(type="text", name="nestor", placeholder="Zoeken.." list="leden")
            label Lid
            input(type="text", name="lid", placeholder="Zoeken.." list="leden")
        button.add(type="button") Extra lid
        button(type="submit" form="board" value="Submit") Commissie toevoegen

    script(src="../../../static/scripts/addInputField.js")