extends layouts/head.pug

block title
    title Varia insturen
block profile
    a(href="/lid/"+user.lastname.toLowerCase()+'&'+user.firstname.toLowerCase()) Mijn Profiel
block main
    main 
        h1 Varia insturen 
        form#varia(method="POST" action="/varia/add_varia")
            label Naam
            input(name="name", type="text", list="leden" )
            datalist#leden 
                each member, i in members
                    option(value= member.firstname+' '+member.particle+' '+member.lastname)
            label Datum
            input(name="date", type="date" )
            label Varia
            textarea(name="varia", cols="20", rows="3")
        button(type="submit" form="varia" value="Submit") Opslaan 