extends layouts/head.pug

block title
    title Lid toevoegen
block profile
    a(href="/lid/"+user.lastname.toLowerCase()+'&'+user.firstname.toLowerCase()) Mijn Profiel
block main
    main 
        h1 Leden toevoegen 
        form#member(method="POST" action="/bestuur/add_member")
            fieldset Algemeen
                label Voornaam
                input(name="firstname", type="text" )
                label Tussenvoegsel
                input(name="particle", type="text" )
                label Achternaam
                input(name="lastname", type="text" )
                label E-mail
                input(name="email", type="email" )
                label Mobiel
                input(name="phonenumber", type="tel" )
                label Verjaardag
                input(name="birthday", type="date")
            fieldset Lidmaatschap
                label Actief of reunist
                select(name="status")
                    option(value="Actief") Actief
                    option(value="Reunist") Reunist   
                label Jaar 
                input(name="year", type="number" )
            fieldset Wachtwoord 
                label Voer een wachtwoord in
                input(name="password", type="password")
        button(type="submit" form="member" value="Submit") Opslaan 