extends layouts/head.pug

block title
    title Lid toevoegen

block main
    main 
        h1 Leden toevoegen 
        form#member(method="POST" action="/leden/add_member")
            fieldset Algemeen
                label Voornaam
                input(name="firstname", type="text" )
                label Achternaam
                input(name="lastname", type="text" )
                label E-mail
                input(name="email", type="email" )
                label Mobiel
                input(name="phonenumber", type="number" )
                label Verjaardag
                input(name="birthday", type="date" )
            fieldset Lidmaatschap
                label Actief of reunist
                label(for="actief") Actief
                input(name="status", id="actief" , type="radio")
                label(for="reunist") Reunist
                input(name="status", id="reunist" , type="radio" )
                label Jaar 
                input(name="year", type="number" )
            fieldset Wachtwoord 
                label Voer een wachtwoord in
                input(name="password", type="password")
        button(type="submit" form="member" value="Submit") Opslaan 