extends layouts/head.pug

block title 
    title Het bestuur

block profile
    a(href="/lid/"+user.lastname.toLowerCase()+'&'+user.firstname.toLowerCase()) Mijn Profiel 

block main 
    main 
        if bestuur === true
            a(href="/bestuur/wijzigen") Wijzig bestuur
        else
            p geen bestuur
        ul
            li 
                p Curator Actorum
                p= curator[0].firstname+' ' + curator[0].particle +' '+curator[0].lastname
            if propraetor.length > 0
                li
                    p Pro-Praetor 
                    p=propraetor[0].firstname+' ' + propraetor[0].particle + ' ' + propraetor[0].lastname
            li
                p Praetor 
                p=praetor[0].firstname+' ' + praetor[0].particle + ' ' + praetor[0].lastname 
            li
                p Quaestor 
                p=quaestor[0].firstname+' ' + quaestor[0].particle + ' ' + quaestor[0].lastname