extends layouts/head.pug

block title 
    title Bestuur toevoegen
block profile
    a(href="/lid/"+user.lastname.toLowerCase()+'&'+user.firstname.toLowerCase()) Mijn Profiel
block main
    ul
        each member, i in members
                li.card.lid
                    h2.naam= member.firstname +' ' + member.lastname
                    form#reunist(action="/bestuur/reunionist" method="POST")
                    button(form="reunist" type="submit" value="submit") Maak reunist
                    a(href="/bestuur/saldo/wijzigen") Saldo wijzigen
                    a(href="/bestuur/lid/"+member.lastname.toLowerCase()+'&'+member.firstname.toLowerCase()+"/wijzigen") Lid wijzigen