extends layouts/head.pug

block title 
    title Bestuur toevoegen
block profile
    a(href="/lid/"+user.lastname.toLowerCase()+'&'+user.firstname.toLowerCase()) Mijn Profiel
    
block main 
    main 
        h1 Nieuw bestuur toevoegen
        form#board(method="POST" action="/bestuur/add_board")
            label Praetor
            input(type="text", name="praetor", placeholder="Zoeken.." list="leden")
            datalist#leden 
                each member, i in members
                    option(value= member.firstname+' '+member.particle+' '+member.lastname)
            label pro-Praetor
            input(type="text", name="propraetor", placeholder="Zoeken.." list="leden")
            label Curator Actorum
            input(type="text", name="curator", placeholder="Zoeken.." list="leden")
            label Quaestor
            input(type="text", name="quaestor", placeholder="Zoeken.." list="leden")
        button(type="submit" form="board" value="Submit") Bestuur wijzigen