extends layouts/head.pug

block title
    title Ledenlijst
block profile
    a(href="/lid/"+user.lastname.toLowerCase()+'&'+user.firstname.toLowerCase()) Mijn Profiel
    
block main
    main 
        h1 Ledenlijst
        if bestuur === true 
            p
                a(href="/bestuur/leden/toevoegen") + leden toevoegen
            p
                a(href="/bestuur/leden/wijzigen") leden wijzigen
        ul
            each member, i in members
                    li.card.lid
                        a(href="/lid/"+member.lastname.toLowerCase()+'&'+member.firstname.toLowerCase())
                            h2.naam= member.firstname +' ' + member.lastname
                            p.status= member.status
                            p.jaar= member.year