extends layouts/head.pug

block title
    title Ledenlijst

block main
    main 
        h1 Ledenlijst 
        a(href="/leden/toevoegen") + leden toevoegen
        ul
            each member, i in members 
                li.card.lid
                    h2.naam= member.firstname +' ' + member.lastname
                    p.status Actief
                    p.jaar= member.year