doctype html
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
    link(rel="stylesheet", href="../../../static/styles/main.css")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")

body 
    header
        img(src="../static/assets/tao1.svg", alt="logo")
        p.titel o.v. Het w.g. Tao
        if user
            a(href="/logout") Uitloggen
            nav 
                ul 
                    li 
                        a(href="/mededelingen") Mededelingen
                    li 
                        a(href="/leden") Ledenlijst
                    li 
                        a(href="/kalender") Jaarkalender
                    li 
                        a(href="/varia") Varia
                    li 
                        a(href="/commissies") Commissies
                    li
                        a(href="/bestuur") Bestuur
                    if bestuur === true 
                        li 
                            a(href="/bestuur/acties") Bestuurshandelingen
                block profile
        else
            a(href="/login") Inloggen 

        
    block main