body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #2E2C29;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

}

header {
    grid-column-start: 2;

    figure {
        display: none;
    }

    p {
        font-size: 1.5em;
        color: white;
    }

    nav {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 0;

            li {
                list-style: none;

                a {
                    font-size: 1em;
                    color: white;
                    text-decoration: none;
                    padding: 1rem;
                }
            }

            li:first-of-type {
                a {
                    padding-left: 0;
                }
            }

            li:last-of-type {
                align-self: flex-end;

                a {
                    background-color: blue;
                    border-radius: 20px;
                }
            }
        }
    }
}

main {
    grid-column-start: 2;
    width: 100%;

    h1 {
        color: white;
    }

    .card {
        margin-bottom: 1rem;
        border-radius: 25px;
        padding: .5rem 1rem;
        position: relative;
    }

    .birthday {
        background-color: #D4AF37;

    }

    .melding {
        background-color: white;

        h2 {
            color: #D4AF37;
        }

        p {
            color: black;
        }

        a {
            text-decoration: none;
        }
    }

    ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 0;

        .lid {
            background-color: #D4AF37;
            list-style: none;
            padding: 1rem;
            margin-bottom: 1.5rem;
            margin-right: 1.5rem;
            border-radius: 25px;
            width: 33%;
            position: relative;

            a {
                text-decoration: none;
            }

            h2 {
                color: black;
                font-size: 1em;
            }

            p {
                color: black;
            }

            .jaar {
                position: absolute;
                right: 15px;
                bottom: -10px;
            }
        }
    }
}